p {
	margin-bottom: ($unit-default * 1.5);
	text-align: left;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 1rem;
}

strong {
	font-weight: 700;
}

a {
	color: $colorSix;
	&:link {
	}
	&:hover, &:focus, &:active {
		color: lighten($colorOne, 10%);
	}
}

.content {
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// Links
.cta-link {
	display: inline-block;
	&:after {
		content: ' \203A';
		text-decoration: none;
	}
}

::selection {
	background: $fenwayYellow; /* WebKit/Blink Browsers */
	color: $black;
}
::-moz-selection {
	background: $fenwayYellow; /* Gecko Browsers */
	color: $black;
}

.heading--h1 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0 1rem;
	text-align: center;
}

.heading--h2 {
	font-weight: 400;
	text-align: center;
}

.heading--h3 {
	font-weight: 400;
	font-size: 1.4rem;
	margin: 0 0 0.5rem;
	&:after {
		content: ':';
	}
}