// Breakpoints
// $mobilePortrait: 'only screen and (max-width: 450px)';
$mobilePortrait: 'only screen and (min-width: 450px)';
$mobile: 'only screen and (min-width: 569px)';
$tabletLandscape: 'only screen and (min-width: 769px)';
$desktopSmall: 'only screen and (min-width: 900px)';


